<div id="container" [class.darkmode]="isDarkMode">
  <div class="dictionary__container" [style.fontFamily]="fontstyle">
    <!-- header or toggle bar -->
    <div class="dictionary__header">
      <img src="../assets/logo.svg" alt="logo" />
      <div class="dictionary__fontandToggle">
        <span class="fontcontainer">
          <div class="font" [class.fontsdarkmode]="isDarkMode">
            <p>{{ selectedFont }}</p>
            <div
              class="behindthescene"
              [style.visibility]="fontMenu ? 'hidden' : 'visible'"
              [class.fontselectdarkmode]="isDarkMode"
            >
              <p (click)="chooseFont('sans-serif')">Sans serif</p>
              <p (click)="chooseFont('serif')">Serif</p>
              <p (click)="chooseFont('monospace')">Mono</p>
            </div>
          </div>
          <img
            id="selectFont"
            src="../assets/icon-arrow-down.svg"
            alt="arrow"
            (click)="toggleFontMenu()"
          />
        </span>
        <span class="divider"></span>
        <div (click)="darkMode()" class="toggle"><span></span></div>
        <svg
          [class.darkmoon]="isDarkMode"
          class="moon"
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          viewBox="0 0 22 22"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M1 10.449a10.544 10.544 0 0 0 19.993 4.686C11.544 15.135 6.858 10.448 6.858 1A10.545 10.545 0 0 0 1 10.449Z"
          />
        </svg>
      </div>
    </div>
    <!-- search -->

    <div
      class="dictionary__search spaceBig"
      [class.darksearch]="isDarkMode"
      [class.focused]="isFocused"
      [class.error]="isError"
      #searchbar
    >
      <label>Whoops, can't be empty</label>
      <input
        (focus)="onfocus()"
        (blur)="onblur()"
        [class.darksearch]="isDarkMode"
        type="text"
        placeholder="Search for any word..."
        #input
      />
      <img
        src="../assets/icon-search.svg"
        alt="search"
        (click)="dictionary(input.value)"
      />
    </div>

    <!--  -->
    <div class="resultWrapper">
      <!-- Result wrapper container above -->
      <ng-container *ngIf="noError">
        <!-- if starts here -->
        <!-- dictionary Result -->
        <div class="dictionary__searchResult">
          <div class="resultheader">
            <div class="title">
              <!-- dictionary first section -->
              <h1>{{ word }}</h1>
              <h3 [class.purpletext]="isDarkMode">{{ phonetic }}</h3>
            </div>
            <!-- play svg -->
            <svg
              (click)="playAudio()"
              xmlns="http://www.w3.org/2000/svg"
              width="75"
              height="75"
              viewBox="0 0 75 75"
            >
              <g fill="#A445ED" fill-rule="evenodd">
                <circle cx="37.5" cy="37.5" r="37.5" />
                <path d="M29 27v21l21-10.5z" />
              </g>
            </svg>
          </div>

          <!-- SECTIONS-->
          <ng-container>
            @for(meaning of meaning; track $index){

            <div class="secondsection">
              <p id="speechtype" class="spaceBig">{{ meaning.partOfSpeech }}</p>
              <span
                class="dictionaryline"
                [class.darklines]="isDarkMode"
              ></span>
            </div>
            <p class="subheading">Meaning</p>
            <ul>
              @for(defi of meaning.definitions ; track $index){
              <li>
                {{ defi.definition }}
              </li>
              @if(defi.example){
              <p class="example subheading">example: {{ defi.example }}</p>
              } }
            </ul>
            <p class="subheading spaceSmall">
              synonyms
              <span class="synonym" [class.purpletext]="isDarkMode">
                @for(synoms of meaning.synonyms ;track $index){
                <span
                  #synom
                  (click)="dictionary(synom.innerText)"
                  class="synonyms"
                  >{{ synoms }}</span
                >, }
              </span>
            </p>
            }
          </ng-container>
          <!-- FOOTER LINE STARTES HERE-->
          <span
            class="dictionaryline spaceBig"
            [class.darklines]="isDarkMode"
          ></span>
          <!-- FOOTER -->
          <footer>
            <p class="source">Source</p>
            <p>https:/en.wiktionary.org/wiki/keyboard</p>
            <a href="en.wiktionary.org/wiki/keyboard">
              <img src="../assets/icon-new-window.svg" alt="" />
            </a>
          </footer>
        </div>
      </ng-container>
      <ng-container *ngIf="yesError">
        <div class="errorContainer">
          <p class="errorEmoji spaceBig">😕</p>
          <p class="errorTitle spaceBig">{{ title }}</p>
          <p class="errorMessage spaceBig">{{ message }}</p>
        </div>
      </ng-container>
    </div>
    <!-- result wrapper ends here -->
    <!-- if ends -->
  </div>
</div>
<router-outlet />
