<style>
  @media (max-width: 580px) {
    .dictionary__container {
      width: 20rem;
    }
    /* font container */
    .dictionary__fontandToggle {
      width: 60%;
    }
    .fontcontainer {
      width: 5rem;
    }
    footer {
      font-size: 0.8rem;
    }
    footer > a > img {
      width: 1rem;
    }
    ul {
      padding: 0;
    }
    ul li {
      padding: 0;
    }
    .definitiontext {
      display: flex;
      gap: 0.5rem;
    }
    .bullet {
      width: 5%;
      display: flex;
      justify-content: center;
      padding-block-start: 0.3em;
    }

    .example {
      padding-inline-start: 1.7rem;
    }
  }
  @media (min-width: 581px) {
    .definitiontext {
      gap: 0.5rem;
      position: relative;
      padding-left: 1.2rem;
    }
    .bullet {
      position: absolute;
      left: 0;
    }
    .example {
      padding-inline-start: 2.8rem;
    }
  }

  @media (min-width: 824px) {
    .dictionary__container {
      width: 50rem;
    }

    .dictionary__header > img {
      width: 2.5rem;
      height: 2.5rem;
    }
    .dictionary__fontandToggle {
      width: 60%;
    }
    .fontcontainer {
      width: 8rem;
    }
    .font > p {
      font-size: 1.2rem;
    }
    svg {
      width: 1.4rem;
      height: 1.4rem;
    }

    /* search bar */
    .dictionary__search {
      min-height: 4rem;
    }
    .dictionary__search > input {
      font-size: 1.4rem;
    }
    .dictionary__search > img {
      width: 1.2rem;
      height: 1.2rem;
    }
    /* Dictionary result */
    .resultheader {
      min-height: 5rem;
    }
    .title {
      font-size: 1.3rem;
    }
    .title > h1 {
      font-size: 4rem;
    }

    .definitiontext {
      gap: 0.5rem;
      position: relative;
      padding-left: 1.2rem;
    }
    .bullet {
      position: absolute;
      left: 0;
    }
    .example {
      padding-inline-start: 2.8rem;
    }
    #speechtype {
      font-size: 1.5rem;
    }
    .subheading {
      font-size: 1.4rem;
    }
    .synonym {
      font-size: 1.2rem;
    }

    ul li::before {
      font-size: 1.4rem;
    }
    ul > p {
      font-size: 1rem;
    }
    .definitiontext {
      font-size: 1.2rem;
    }
    footer > a {
      font-size: 1.5rem;
    }
    footer > a > img {
      width: 1.4rem;
    }
  }
</style>
<div id="container" [class.darkmode]="isDarkMode">
  <div class="dictionary__container" [style.fontFamily]="fontstyle">
    <!-- header or toggle bar -->
    <div class="dictionary__header">
      <img src="../assets/logo.svg" alt="logo" />
      <div class="dictionary__fontandToggle">
        <span class="fontcontainer">
          <div class="font" [class.fontsdarkmode]="isDarkMode">
            <p>{{ selectedFont }}</p>
            <div
              class="behindthescene"
              [style.visibility]="fontMenu ? 'hidden' : 'visible'"
              [class.fontselectdarkmode]="isDarkMode"
            >
              <p (click)="chooseFont('sans-serif')">Sans serif</p>
              <p (click)="chooseFont('serif')">Serif</p>
              <p (click)="chooseFont('monospace')">Mono</p>
            </div>
          </div>
          <img
            id="selectFont"
            src="../assets/icon-arrow-down.svg"
            alt="arrow"
            (click)="toggleFontMenu()"
          />
        </span>
        <span class="divider"></span>
        <div (click)="darkMode()" class="toggle"><span></span></div>
        <svg
          [class.darkmoon]="isDarkMode"
          class="moon"
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          viewBox="0 0 22 22"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M1 10.449a10.544 10.544 0 0 0 19.993 4.686C11.544 15.135 6.858 10.448 6.858 1A10.545 10.545 0 0 0 1 10.449Z"
          />
        </svg>
      </div>
    </div>
    <!-- search -->

    <div
      class="dictionary__search spaceBig"
      [class.darksearch]="isDarkMode"
      [class.focused]="isFocused"
      [class.error]="isError"
      #searchbar
    >
      <label>Whoops, can't be empty</label>
      <input
        (keydown)="onKeydown($event)"
        (focus)="onfocus()"
        (blur)="onblur()"
        [class.darksearch]="isDarkMode"
        type="text"
        placeholder="Search for any word..."
        #input
      />
      <img
        src="../assets/icon-search.svg"
        alt="search"
        (click)="dictionary(input.value)"
      />
    </div>

    <!-- loading -->

    <!--  -->
    @defer () {

    <div class="resultWrapper">
      <!-- Result wrapper container above -->
      <ng-container *ngIf="noError">
        <!-- if starts here -->
        <!-- dictionary Result -->
        <div class="dictionary__searchResult">
          <div class="resultheader">
            <div class="title">
              <!-- dictionary first section -->
              <h1>{{ word }}</h1>
              <h3 [class.purpletext]="isDarkMode">{{ phonetic }}</h3>
            </div>
            <!-- play svg -->
            <svg
              (click)="playAudio()"
              xmlns="http://www.w3.org/2000/svg"
              width="75"
              height="75"
              viewBox="0 0 75 75"
            >
              <g fill="#A445ED" fill-rule="evenodd">
                <circle cx="37.5" cy="37.5" r="37.5" />
                <path d="M29 27v21l21-10.5z" />
              </g>
            </svg>
          </div>

          <!-- SECTIONS-->
          <ng-container>
            @for(meaning of meaning; track $index){

            <div class="secondsection">
              <p id="speechtype" class="spaceBig">{{ meaning.partOfSpeech }}</p>
              <span
                class="dictionaryline"
                [class.darklines]="isDarkMode"
              ></span>
            </div>
            <p class="subheading">Meaning</p>
            <ul>
              @for(defi of meaning.definitions ; track $index){
              <li>
                <div class="definitiontext">
                  <span class="bullet"><span></span></span>
                  <p>{{ defi.definition }}</p>
                </div>
              </li>
              @if(defi.example){
              <p class="example subheading">example: {{ defi.example }}</p>
              } }
            </ul>
            <p class="subheading spaceSmall">
              synonyms
              <span class="synonym" [class.purpletext]="isDarkMode">
                @for(synoms of meaning.synonyms ;track $index){
                <span
                  #synom
                  (click)="dictionary(synom.innerText)"
                  class="synonyms"
                  >{{ synoms }}</span
                >, }
              </span>
            </p>
            }
          </ng-container>
          <!-- FOOTER LINE STARTES HERE-->
          <span
            class="dictionaryline spaceBig"
            [class.darklines]="isDarkMode"
          ></span>
          <!-- FOOTER -->
          <footer>
            <p class="source">Source</p>
            <p>{{ SourceUrl }}</p>
            <a [href]="SourceUrl" target="_blank">
              <img src="../assets/icon-new-window.svg" alt="" />
            </a>
          </footer>
        </div>
      </ng-container>
      <ng-container *ngIf="yesError">
        <div class="errorContainer">
          <p class="errorEmoji">😕</p>
          <p class="errorTitle">{{ title }}</p>
          <p class="errorMessage">{{ message }}</p>
        </div>
      </ng-container>
    </div>
    } @placeholder (minimum 2s){
    <div class="loading">
      <img src="../assets/spinner.apng" alt="loading" />
    </div>
    }
    <!-- result wrapper ends here -->
    <!-- if ends -->
  </div>
</div>
<router-outlet />
